<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Campus1</key>
	<dict>
		<key>Line1</key>
		<dict>
			<key>Name</key>
			<string>直达班</string>
			<key>Time</key>
			<array>
				<date>2013-11-24T00:00:00Z</date>
				<date>2013-11-24T00:30:00Z</date>
				<date>2013-11-24T01:00:00Z</date>
				<date>2013-11-24T02:00:00Z</date>
				<date>2013-11-24T03:00:00Z</date>
				<date>2013-11-23T16:00:00Z</date>
				<date>2013-11-24T05:00:00Z</date>
				<date>2013-11-24T06:00:00Z</date>
				<date>2013-11-24T07:00:00Z</date>
				<date>2013-11-24T08:00:00Z</date>
				<date>2013-11-24T08:30:00Z</date>
				<date>2013-11-24T09:00:00Z</date>
			</array>
			<key>Description</key>
			<string>每小时一班</string>
			<key>DetailLine</key>
			<array>
				<string>东校区东大门</string>
				<string>独墅湖校区八食堂</string>
			</array>
		</dict>
		<key>LIne2</key>
		<dict>
			<key>Time</key>
			<array>
				<date>2013-11-23T23:10:00Z</date>
				<date>2013-11-23T23:30:00Z</date>
			</array>
			<key>Name</key>
			<string>早班1号线</string>
			<key>Description</key>
			<string>经停9站</string>
			<key>DetailLine</key>
			<array>
				<string>南校区人民路大门口</string>
				<string>葑门西街（里河新村口）</string>
				<string>杨枝塘路（高架桥入口处）</string>
				<string>独墅湖校区北大门</string>
				<string>生农化楼</string>
				<string>材料大楼</string>
				<string>文科艺术楼</string>
				<string>文科综合楼</string>
				<string>七、八食堂前</string>
			</array>
		</dict>
		<key>Line3</key>
		<dict>
			<key>Time</key>
			<array>
				<date>2013-11-23T23:10:00Z</date>
				<date>2013-11-23T23:30:00Z</date>
			</array>
			<key>Name</key>
			<string>早班2号线</string>
			<key>Description</key>
			<string>经停13站</string>
			<key>DetailLine</key>
			<array>
				<string>本部北大门</string>
				<string>北校区大门（天桥下）</string>
				<string>中新路口（公交车站旁）</string>
				<string>海关大楼（公交车站旁）</string>
				<string>新城花园（公交车站旁）</string>
				<string>加城大厦（中新大道公交车站旁）</string>
				<string>高尔夫花园（金鸡湖大道公交站旁）</string>
				<string>独墅湖校区北大门</string>
				<string>生农化楼</string>
				<string>材料大楼</string>
				<string>文科艺术楼</string>
				<string>文科综合楼</string>
				<string>七、八食堂前</string>
			</array>
		</dict>
		<key>Line4</key>
		<dict>
			<key>Time</key>
			<array>
				<date>2013-11-23T23:10:00Z</date>
				<date>2013-11-23T23:30:00Z</date>
			</array>
			<key>Name</key>
			<string>早班3号线</string>
			<key>Description</key>
			<string>经停8站</string>
			<key>DetailLine</key>
			<array>
				<string>东校区东大门</string>
				<string>富华苑（高架入口处）</string>
				<string>独墅湖校区北大门</string>
				<string>生农化楼</string>
				<string>材料大楼</string>
				<string>文科艺术楼</string>
				<string>文科综合楼</string>
				<string>七、八食堂前</string>
			</array>
		</dict>
		<key>Line5</key>
		<dict>
			<key>Time</key>
			<array>
				<date>2013-11-24T10:00:00Z</date>
			</array>
			<key>Name</key>
			<string>晚班</string>
			<key>Description</key>
			<string>经停11站</string>
			<key>DetailLine</key>
			<array>
				<string>南校区人民路大门口</string>
				<string>本部北大门</string>
				<string>北校区大门</string>
				<string>东校区东大门</string>
				<string>富华苑</string>
				<string>独墅湖校区北大门</string>
				<string>生农化楼</string>
				<string>材料大楼</string>
				<string>文科艺术楼</string>
				<string>文科综合楼</string>
				<string>七、八食堂前</string>
			</array>
		</dict>
	</dict>
	<key>Campus2</key>
	<dict>
		<key>Line1</key>
		<dict>
			<key>Name</key>
			<string>直达</string>
			<key>Time</key>
			<array>
				<date>2013-11-24T00:00:00Z</date>
				<date>2013-11-24T00:30:00Z</date>
				<date>2013-11-24T01:00:00Z</date>
				<date>2013-11-24T02:00:00Z</date>
				<date>2013-11-24T03:00:00Z</date>
				<date>2013-11-24T05:00:00Z</date>
				<date>2013-11-24T06:00:00Z</date>
				<date>2013-11-24T07:00:00Z</date>
				<date>2013-11-24T08:00:00Z</date>
				<date>2013-11-24T08:30:00Z</date>
			</array>
			<key>Description</key>
			<string>每小时老校区和独墅湖校区各发一班车</string>
			<key>DetailLine</key>
			<array>
				<string>独墅湖校区八食堂</string>
				<string>东校区东大门</string>
			</array>
		</dict>
		<key>Line2</key>
		<dict>
			<key>Name</key>
			<string>午班，晚班1号线</string>
			<key>Time</key>
			<array>
				<date>2013-11-24T04:10:00Z</date>
				<date>2013-11-24T09:10:00Z</date>
			</array>
			<key>Description</key>
			<string>经停9站</string>
			<key>DetailLine</key>
			<array>
				<string>七、八食堂前</string>
				<string>文科综合楼</string>
				<string>文科艺术楼</string>
				<string>材料大楼</string>
				<string>生农化楼</string>
				<string>独墅湖校区北大门</string>
				<string>杨枝塘路（高架桥入口处）</string>
				<string>葑门西街（里河新村口）</string>
				<string>南校区人民路大门口</string>
			</array>
		</dict>
		<key>Line3</key>
		<dict>
			<key>Name</key>
			<string>午班，晚班2号线</string>
			<key>Time</key>
			<array>
				<date>2013-11-24T04:10:00Z</date>
				<date>2013-11-24T09:10:00Z</date>
			</array>
			<key>Description</key>
			<string>经停13站</string>
			<key>DetailLine</key>
			<array>
				<string>七、八食堂前</string>
				<string>文科综合楼</string>
				<string>文科艺术楼</string>
				<string>材料大楼</string>
				<string>生农化楼</string>
				<string>独墅湖校区北大门</string>
				<string>高尔夫花园（金鸡湖大道公交站旁）</string>
				<string>加城大厦（中新大道公交车站旁）</string>
				<string>新城花园</string>
				<string>海关大楼</string>
				<string>中新路口（公交车站旁）</string>
				<string>北校区大门（天桥下）</string>
				<string>本部北大门</string>
			</array>
		</dict>
		<key>Line4</key>
		<dict>
			<key>Name</key>
			<string>午班，晚班3号线</string>
			<key>Time</key>
			<array>
				<date>2013-11-24T04:10:00Z</date>
				<date>2013-11-24T09:10:00Z</date>
			</array>
			<key>Description</key>
			<string>经停8站</string>
			<key>DetailLine</key>
			<array>
				<string>七、八食堂前</string>
				<string>文科综合楼</string>
				<string>文科艺术楼</string>
				<string>材料大楼</string>
				<string>生农化楼</string>
				<string>独墅湖校区北大门</string>
				<string>富华苑（高架入口处）</string>
				<string>东校区东大门</string>
			</array>
		</dict>
		<key>Line5</key>
		<dict>
			<key>Name</key>
			<string>夜班</string>
			<key>Time</key>
			<array>
				<date>2013-11-24T12:00:00Z</date>
				<date>2013-11-24T13:30:00Z</date>
			</array>
			<key>Description</key>
			<string>经停11站</string>
			<key>DetailLine</key>
			<array>
				<string>七、八食堂前</string>
				<string>文科综合楼</string>
				<string>文科艺术楼</string>
				<string>材料大楼</string>
				<string>生农化楼</string>
				<string>独墅湖校区北大门</string>
				<string>富华苑</string>
				<string>东校区东大门</string>
				<string>北校区大门</string>
				<string>本部北大门</string>
				<string>南校区人民路大门口</string>
			</array>
		</dict>
		<key>Line6</key>
		<dict>
			<key>Name</key>
			<string>夜班直达</string>
			<key>Time</key>
			<array>
				<date>2013-11-24T14:05:00Z</date>
			</array>
			<key>Description</key>
			<string>只一班</string>
			<key>DetailLine</key>
			<array>
				<string>独墅湖校区</string>
				<string>东校区东大门</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
